* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 color: white;
 font-family: cursive;
 overflow: hidden;
}

.main {
 width: 100vw;
 height: 100vh;
 background-color: black;
 display: flex;
 align-items: center;
 position: relative;
}

.game-board {
 width: 600px;
 height: 550px;
 margin: auto;
 border: 2px solid wheat;
 /* position: relative; */
}

.scores {
 width: 95%;
 height: 50px;
 margin: auto;
 display: flex;
 align-items: center;
 justify-content: space-between;
}

.game-arena {
 width: 500px;
 height: 450px;
 border: 3px solid gold;
 margin: auto;
 display: grid;
 grid-template-columns: repeat(20, 1fr);
 grid-template-rows: repeat(20, 1fr);
}


.instructions {
 position: absolute;
 text-align: center;
 top: 50%;
 right: 35%;
 font-size: 30px;
 /* display: none; */
}

/* .instructions h3 {
 color: rgb(220, 149, 17);
 text-shadow: 0 0 5px #171717, 0 0 10px #000000, 0 0 15px rgb(0, 0, 0), 0 0 20px rgb(220, 149, 17), 0 0 25px rgb(220, 149, 17), 0 0 30px rgb(220, 149, 17), 0 0 35px rgb(220, 149, 17)
} */

/* .keys {
 height: 50px;
 position: absolute;
 bottom: 30px;
 left: 40px;
}

.keys span {
 font-size: 25px;
 background-color: white;
 color: black;
 padding: 10px 15px;
 border-radius: 10px;

} */

.snake:first-child {
 background-color: blue;

}

.snake {
 background-color: brown;
 /* border-radius: 10px; */
}



/* @keyframes blink {
 0% {
  scale: 1;
 }

 50% {
  scale: 0.5;
 }

 100% {
  scale: 1;
 }
} */

.food {
 background-color: antiquewhite;
 border: 2px solid yellow;

}